*{
    font-family: 'Merriweather', serif;
    font-family: 'Work Sans', sans-serif; 
}
header{
    text-align: center;
}
.header1{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/images/Banner.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 16px;

}
.header-text1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 227px;
}
.header-text2{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-left: 394px;
    padding-right: 394px;
    padding-bottom: 177px;
}
